body{
    background-color: rgb(255, 255, 255);
    
}
.img_1 {
    width: 100%;
    height: flex;
    display: block;
    align-items: center;
  }
.logitos > img{
    margin-left: auto;
    background-color: #333;

    display: flex;
    justify-content: flex-end; 
}

  .text1_img1,
  .text2_img1 {
    position: absolute;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family:sans-serif;
  }
  .text1_img1 {
    top: 30%;
    left: 27%;
    transform: translateX(-50%);
    font-size: 50px;

  }

  .text2_img1 {
    bottom: 47%;
    left: 20%;
    transform: translateX(-50%);
    font-size: 20px;
  }
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}
 nav a{
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(90, 90, 90);
    font-family: sans-serif;
    font-size: 16px;
    align-content: center;
    cursor: pointer;
  }
nav a:active{
    font-weight: bold; /* Cambia el peso de la fuente a negrilla al hacer clic */
  }
section .botones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5px;
}
section button{
    display: inline-block;
    justify-content: space-evenly;
    padding: 10px 20px;
    margin: 5px;
    background-color: rgb(70, 70, 70);
    border: 1px solid rgb(70, 70, 70);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    cursor: pointer;
}
section button:hover{
    color:rgb(56, 73, 226);
}
.btntb:hover{
    background-color: rgb(56, 73, 226);
    color: white;
}
nav{
    align-items: center;
}
.table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    background-color: #ccc;
}
.table a{
    background-color: #ffffff;
    color:#ccc;
    font-size: 16px;
    font-family: sans-serif;
}
.table p{
    background-color: #ffffff;
    color:#ccc;
    font-size: 16px;
    font-family: sans-serif;
}
td {
    padding: flex;
    text-align: left;
    background-color: #ccc;
    cursor: pointer;
}
td > a:hover{
    color:rgb(56, 73, 226);
}
tr{
    margin-top: 20px;
}
.menubajo{
    background-color: rgb(70, 70, 70);
    color:#ffffff;
    border: 1px solid rgb(70, 70, 70);;
}
footer{
    background-color: #f0f0f0;
    padding: 10px;
    text-align: left;
}
.imgfooter{
    margin-left: auto;
    display: flex;
}